---
---
<footer>
  <p>
    Based on data from <a class="underlined-link" href="https://tartanify.com" target="_blank" rel="noopener noreferrer">tartanify.com</a> by PeHaa &amp; Joe Vains.
    Please check the <a class="underlined-link" href="/terms-of-use">Terms of Use.</a>
  </p>
</footer>
