---
---
<footer>
  <p>
    Built by <a class="underlined-link" href="https://www.github.com/adamfishman">Adam <strong>Gordon</strong> Fishman</a>, based on <a class="underlined-link" href="https://tartanify.com" target="_blank" rel="noopener noreferrer">tartanify.com</a> by PeHaa &amp; Joe Vains.
    Please check the <a class="underlined-link" href="/terms-of-use">Terms of Use.</a>
  </p>
</footer>
